@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    --height-footer: 250px;
    --height-footer-mobile: 550px;
    --font-banner: 'Pacifico';
}

footer {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: black;
    color: #fff;
    padding: 30px 0 10px 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer h6 {
    text-decoration: none;
    color: white;
    word-wrap: break-word;
}

#social_list li {
    display: inline;
    margin: 0px 10px;
}

@media only screen and (max-width: 767px) {
    .col-left-text {
        width: fit-content;
        margin-right: auto;
        text-align: left;
        margin-bottom: 40px;
    }
    .col-center-text {
        width: fit-content;
        margin-right: auto;
        text-align: left;
        margin-bottom: 40px;
    }
    .col-right-text {
        width: fit-content;
        margin-right: auto;
        text-align: left;
        margin-bottom: 40px;
    }
    main {
        margin-bottom: var(--height-footer-mobile, fit-content);
    }
    footer {
        height: var(--height-footer-mobile, fit-content);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-left-text {
        width: fit-content;
        margin-right: auto;
        text-align: left;
    }
    .col-md-center-text {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md-right-text {
        width: fit-content;
        margin-left: auto;
        text-align: right;
    }
    main {
        margin-bottom: var(--height-footer, fit-content);
    }
    footer {
        height: var(--height-footer, fit-content);
    }
}

@media only screen and (min-width: 992px) {
    .col-lg-left-text {
        width: fit-content;
        margin-right: auto;
        text-align: left;
    }
    .col-lg-center-text {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .col-lg-right-text {
        width: fit-content;
        margin-left: auto;
        text-align: right;
    }
    main {
        margin-bottom: var(--height-footer, fit-content);
    }
    footer {
        height: var(--height-footer, fit-content);
    }
}